.shop-look__image{
    position: relative;
}
.shop-look__dot{
    position: absolute;
    width: 3.4rem;
    height: 3.4rem;
    background:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor:pointer;
}
.shop-look__slide__container{
    width:100%;
    display:flex;
    justify-content: center;
    padding: 50px;
}

.shop-look__slide{
   width: 60%;
}